body {
	margin: 0 0 90px;
	font-size: 21px;
	color: #333333;
}

#article {
	max-width: 684px;
	margin: 0 auto;
}

h1 {
	font-size: 40px;
	font-weight: 400;
	margin: 1.2em 0 0;
}

p {
	margin: 1.5em 0 0;
	line-height: 1.5;
}

a {
	/* Color needs to be explicit for links */
	color: #333333;
}

#to-top {
	margin: 60px 0 0;
	font-weight: bold;
}

img {
	/* margin: 40px 0 12px 0; */
	width: 100%;
}

#header {
	background-color: #222222;
	font-family: sans-serif;
	font-size: 28px;
	font-weight: 600;
	padding: 15px 70px 18px;
}

#blog-title {
	color: white;
	text-decoration: none;
}


h6 {
	color: #888888;
	font-size: 19px;
	line-height: 1em;
	margin: 28px 0 0;
	font-weight: normal;
}

#copyright {
	font-size: 14px;
}

li {
	line-height: 2;
}

table {
	margin: 1.5em 0 0;
	border-collapse: collapse;
}

th, td {
	border:1px solid black;
	padding: 5px;
}

code {
	font-size: 18px;
}
